<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if site.title %}{{ site.title }}{% else %}{{ page.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% if site.owner.google.verify %}<!-- Webmaster Tools verfication -->
  <meta name="google-site-verification" content="googled048dd519efd9ed4">{% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    @font-face {
      font-family: 'Purisa';
      src: local('Purisa'), url('/resources/purisa/Purisa-Bold.ttf') format('truetype');
    }
  </style>
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300'>
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic'>
  <link rel="stylesheet" type='text/css' media="screen, projection" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="shortcut icon" type="image/ico" href="{{site.baseurl}}/favicon.ico">
	{% if page.title %}
		<meta property="og:title" content="{{page.title}} - Kota Ide " />
		{% if page.description %}
			<meta name="description" content="{{ page.description }}" />
			<meta name="og:description" content="{{ page.description }}" />
		{% else %}
			<meta name="description" content="{{ content | strip_html | truncatewords: 25 }}" />
			<meta name="og:description" content="{{ content | strip_html | truncatewords: 25 }}" />
		{% endif %}
	{% endif %}
	{% if page.og_image_url %}
		<meta property="og:image" content="{{ page.og_image_url }}" />
	{% else %}
		{% if page.photo_url %}
			<meta property="og:image" content="{{ page.photo_url }}" />
		{% endif %}
	{% endif %}
	<meta property="fb:admins" content="1021797639" />
	<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
	<meta property="og:site_name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="id_ID" />
	<meta property="og:locale:alternate" content="en_US" />
	{% if page.date %}
		<meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}" />
	{% endif %}
	<script>window.initFuncs = [];</script>
</head>
